* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth; /* para que cuando un boton de la navbar me lleve a una sesion de la pagina el scrolleo sea suave */
    scroll-padding-top: 100px;
}
body{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.section-container {
    background-color: rgb(50, 50, 50);
}

.header{
    margin: 0 auto;
    width: 100%;
    height: 100px;
    padding: 0px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0; 
    z-index: 1;
    background-color: rgb(50, 50, 50);
}

.logo-container{
    height: 100px;
    display: flex;
    align-items: center;
    }

.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

 .navbar-list li a {
    color: white;
    font-size: 20px;
}

.navbar-list li:nth-child(4) > a  {
    color: red;
    
}
/* Menu hamburguesa  */
.checkbutton{
    font-size: 30px;
    color:white;
    margin-right: 20px;
    cursor: pointer;
    display: none; 
}

#check{
    display: none;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-top: 100px;
    align-content: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
   /*  align-items: center; */
    gap: 15px;
    
}
.hero-text h1 {
    color: rgb(158, 158, 6);
    font-size: 40px;
    
}
.hero-text p {
    color: white;
    font-size: 25px;
    font-weight: 700;
    width: 600px;
}

.hero-img {
    background-image: url(smart-home3.jpg);
/*     background-position: -150px;
    background-repeat: no-repeat;
    background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: 320px;
    border-radius: 5px;
}
.domotic-product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 70px 50px;
}
.domotic-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    background-color:rgb(149, 149, 149);
    width: 250px;
    height: 300px;
    border-radius: 10px;

}

.domotic-card-img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
 
.domotic-cards h2 {
    color: white;
} 


.domotic-cards:first-child .domotic-card-img{
    background-image: url(domotic-luces-img.jpg);
} 
.domotic-cards:nth-child(2) .domotic-card-img{
    background-image: url(domotic-car-img.jpg);
}
.domotic-cards:nth-child(3) .domotic-card-img{
    background-image: url(domotic-persianas-img.jpg);
}
.domotic-cards:nth-child(4) .domotic-card-img{
    background-image: url(domotic-clima-img.jpg);
}

.domotic-cards:nth-child(5) .domotic-card-img{
    background-image: url(domotic-electro-img.jpg);
}
.domotic-cards:nth-child(6) .domotic-card-img{
    background-image: url(domotic-necesitas-img.jpg);
}





#contact{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
    font-weight:250;
}
.contact-info a{
    color: white; 
   text-decoration: underline;
   margin-left: 5px;
}  
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

 .instagram-icon{
    background-image: url(Instagram-icon.png);
    height: 35px;
    width: 35px;
    background-size: cover;
    background-position: center;
 }
 .facebook-icon{
    background-image: url(Facebook-icon.png);
    height: 35px;
    width: 35px;
    background-size: cover;
    background-position: center;
 }



 .info-client{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;

 }
 form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    gap: 10px; 
    
 }

 button{
    height: 35px;
    width: 80px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    border: 0px solid black;
 }

 button:hover{
    background-color: rgb(185, 185, 185);
    transition: all 0.4s linear;
  }

.whatsapp{
    background-image: url(WhatsApp.svg);
    height: 70px;
    width: 70px;
    position: fixed;
    background-size: cover;
    background-position: center; 
    left: 10px;
    bottom: 10px;
}

footer{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}




@media (max-width: 1180px){
        .hero-text h1 {
            font-size: 30px;   
        }
        .hero-text p {
            font-size: 20px;
            font-weight: 700;
            width: 500px;
        }
        
        .hero-img {
            width: 480px;
            height: 220px;
            /* background-position: -110px; */
        }
      
    }  

   @media (max-width: 950px){
        .hero-text h1 {
            font-size: 25px;   
        }
        .hero-text p {
            font-size: 18px;
            font-weight: 700;
            width: 450px;
        }
        
        .hero-img {
            width: 400px;
            height: 230px;
            /* background-position: -110px; */
        }
        .domotic-cards{
            width: 200px;
            height: 250px;
            border-radius: 10px;
        
        }
        
        .domotic-card-img{
            width: 150px;
            height: 150px;
            border-radius: 10%;
        }
         
        .domotic-cards h2 {
            font-size: 20px;
        } 

    }
    @media (max-width: 840px){
        .navbar-list li a {
            font-size: 17px;
         }
         .navbar-list{
             gap: 30px;
         }
        .hero-text h1 {
            font-size: 20px;   
        }
        .hero-text p {
            font-size: 15px;
            font-weight: 700;
            width: 420px;
        }
        .hero-img {
            width: 320px;
            height: 160px;
            /* background-position: -70px; */
        }
        .domotic-cards{
            width: 180px;
            height: 220px;
            border-radius: 10px;
        
        }
        
        .domotic-card-img{
            width: 120px;
            height: 120px;
            border-radius: 10%;
        }
         
        .domotic-cards h2 {
            font-size: 15px;
        } 

        .contact-info{
            font-size: 15px;
            }
       .info-client{
            font-size: 15px;
            }     
            button{
                height: 30px;
                width: 60px;
                font-size: 13px;
                font-weight: 800;
             }
            
            .whatsapp{
                height: 50px;
                width: 50px;
            }     
    }
    
    @media (max-width: 740px){
        .header{
            height: 70px;
        }
        .hero{
            padding-top: 70px;
        }
        .navbar-list li a {
            font-size: 15px;
         }
         .navbar-list{
             gap: 25px;
         }
        .navbar-list li a {
            font-size: 17px;
         }
         .navbar-list{
             gap: 30px;
         }
        .hero-text h1 {
            font-size: 18px;   
        }
        .hero-text p {
            font-size: 13px;
            font-weight: 700;
            width: 380px;
        }
        .hero-img {
            width: 260px;
            height: 140px;
           /*  background-position: -70px; */
        }
        #contact{
            display: flex;
            flex-direction: column;
         
            align-items: flex-start;
            padding-left: 100px ;
    }    
    .contact-info{
        font-size: 18px;
        gap: 10px;
        margin-bottom: 15px;
        }
    .info-client{
        font-size: 18px;
        }     
        button{
            height: 30px;
            width: 60px;
            font-size: 13px;
            font-weight: 800;
         }
        
        .whatsapp{
            height: 50px;
            width: 50px;
        }  

    }


@media (max-width: 630px){

    .checkbutton{
        display: block;
    }
    #check:checked ~ ul{
         left: 0;
      }
  
    .navbar-list{
        display: block;
        position: fixed; 
        width: 100%;
        background-color: rgb(50, 50, 50);
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s; 
    } 
    .navbar-list li{
        margin: 25px 0;
    }
    .navbar-list li a{
        font-size: 25px;
    }
    .hero-text h1 {
        font-size: 16px;   
    }
    .hero-text p {
        font-size: 11px;
        font-weight: 700;
        width: 330px;
    }
    .hero-img {
        width: 230px;
        height: 140px;
       
    }

}

@media (max-width: 420px){

    .logo{
    height: 30px;
    }

    .checkbutton{
        font-size: 25px;
        margin-right: 10px;
    }
    .navbar-list li{
        margin: 15px 0;
    }
    .navbar-list li a{
        font-size: 15px;
    }
    .hero-text{
        gap: 5px;
        margin-left: 5px;  
    }
    .hero-text h1 {
        font-size: 12px;
    }
    .hero-text p {
        font-size: 9px;
        font-weight: 700;
        width: 210px;
    }
    
    .hero-img {
        width: 190px;
        height: 100px;
    }
    .domotic-product{
        gap: 20px;
        padding: 15px 20px;
    }
    .domotic-cards{
        width: 150px;
        height: 180px;
    
    }
    
    .domotic-card-img{
        width: 120px;
        height: 100px;
    }
     
    .domotic-cards h2 {
        font-size: 12px;
    } 


    .contact-info{
        font-size: 15px;
      gap: 10px;
     margin-bottom: 10px;
        }
    
 .info-client{
            padding-left: 40px; 
        } 
    
        #contact{
            padding-left: 30px ;
        } 
        footer{
            font-size: 10px;
            height: 30px;
            width: 100%;
            padding-top: 1px;
        }
}

@media (max-width: 375px){
    .hero-text h1 {
        font-size: 12px;
    }
    .hero-text p {
        font-size: 8px;
        font-weight: 700;
        width: 180px;
    }
    
    .hero-img {
        width: 160px;
        height: 80px;
       
    }

    .domotic-cards{
        width: 120px;
        height: 160px;
    
    }
    
    .domotic-card-img{
        width: 110px;
        height: 100px;
    }
     
    .domotic-cards h2 {
        font-size: 10px;
    } 
    .contact-info{
        font-size: 13px;
        gap: 10px;
        margin-bottom: 15px;
        }
    
    .info-client{
        font-size: 13px;
        } 
    
        #contact{
            padding-left: 40px ;
        }    

       .info-client{
           
            padding-left: 33px; 
            } 
    
        footer{
            font-size: 10px;
            height: 30px;
            width: 100%;
            padding-top: 1px;
        }
    }